<!DOCTYPE html>
@for(shop of this.shops; track $index) {
  <ion-card (click)="goToShop(shop.idShop)">
    <ion-card-header>
      <ion-card-title>{{shop.name}}</ion-card-title>
      <ion-card-subtitle>{{ getCategoryNames(shop) }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <p>{{ shop.address }}, {{ shop.zipCode }} {{shop.city }}</p>
        <ion-badge color="light">0.8 km</ion-badge>
      </div>
      <ion-img [src]="shop.images[0]" [alt]="shop.name"></ion-img>
    </ion-card-content>
  </ion-card>
}
