<ion-card>
  <ion-card-header>
    <ion-card-title>Boulangerie du Coin</ion-card-title>
    <ion-card-subtitle>Alimentation</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div>
      <p>20% sur les viennoiseries</p>
      <ion-badge color="light">0.3 km</ion-badge>
    </div>
    <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Fleuriste des 4 Saisons</ion-card-title>
    <ion-card-subtitle>Fleurs & Décoration</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div>
      <p>Bouquet du jour à -15%</p>
      <ion-badge color="light">0.8 km</ion-badge>
    </div>
    <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  </ion-card-content>
</ion-card>