:root {
  --ion-color-primary: #75b9be;
  --ion-color-secondary: #C7D66D;
  --ion-color-red: #d66d6d;

  --ion-color-background: #EDE7E3;
  --ion-color-primary-shade: #3367CC;
  --ion-color-primary-tint: #5A9BFF;
  --ion-color-text: #4d4d4d;
}
