<ion-header>
  <ion-toolbar>
    Payement NFC
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Envoi automatique</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="primary" (click)="startSending()">
        Démarrer l'envoi NFC
      </ion-button>
      @if(sentAmount != null) {
      <ion-card >
        <ion-card-content>
          <p>Montant envoyé : {{ sentAmount }} €</p>
        </ion-card-content>
      </ion-card>
      }

    </ion-card-content>
  </ion-card>
</ion-content>
