<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-title>Admin - Sélectionner l'offre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sélectionner l'offre à appliquer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-item>
        <ion-label position="floating">Choisir l'offre</ion-label>
        <ion-select
          [(ngModel)]="selectedOffers"
          (ionChange)="updateOffer()"
          multiple="x"
          cancelText="Annuler"
          okText="Valider"
        >
          <ion-select-option value="discount-20"
            >-20% pour Steak Haché</ion-select-option
          >
          <ion-select-option value="points-5"
            >5€ pour 15 points</ion-select-option
          >
          <ion-select-option value="points-1"
            >1 point offert pour 10€ d'achat</ion-select-option
          >
        </ion-select>
      </ion-item> -->

      <ion-item>
        <ion-label position="floating">Montant total à payer (€)</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="totalAmount"
          placeholder="Entrez le montant"
          (ionInput)="calculateDiscount()"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="discountApplied">
        <ion-label>Réduction appliquée :</ion-label>
        <ion-text color="success">{{ discountApplied }} €</ion-text>
      </ion-item>

      <ion-button expand="full" color="primary" (click)="submitPayment()"
        >Valider le paiement</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
