<app-header [title]="titlePage" [icon]="icon"></app-header>

<ion-content [fullscreen]="true">
  <ion-card class="global-card">
    <ion-card-header>
      <ion-icon name="card-outline"></ion-icon>
      <p>Points globaux</p>
    </ion-card-header>

    <ion-card-content>
      @if(!store.loadingGlobalPoints()) {
      <p>
        <span>{{ store.globalPoints() }}</span> points
      </p>
      } @else {
      <ion-skeleton-text
        [animated]="true"
        style="width: 100px; height: 20px;"
      ></ion-skeleton-text>
      }
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="storefront-outline"></ion-icon>
      <p>Points par magasin</p>
    </ion-card-header>

    <ion-card-content>
      <ion-searchbar
        [debounce]="500"
        (ionInput)="handleInput($event)"
        placeholder="Chercher un magasin"
      ></ion-searchbar>
      <ion-list lines="full">
        @if(!store.loadingCurrentPoints()) { @for(points of
        this.store.currentPoints(); track $index) {
        <ion-item>
          <ion-label class="color-text">
            <div>
              <ion-card-title>
                {{ points.shopName }}
              </ion-card-title>
              <ion-card-subtitle>{{
                concatCategories(points.categories)
              }}</ion-card-subtitle>
            </div>
            <p>
              <span>{{ points.points }}</span> pts
            </p></ion-label
          >
        </ion-item>
        }} @else { @for(number of numbers; track $index) {
        <ion-item>
          <ion-label class="color-text">
            <div>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80px"
              ></ion-skeleton-text>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80px"
              ></ion-skeleton-text>
            </div>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80px"
            ></ion-skeleton-text
          ></ion-label>
        </ion-item>
        } }
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
